[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-suit = "==0.2.26"
djangorestframework = "==3.8.2"
gunicorn = "==19.9.0"
pytz = "==2018.5"
whitenoise = "==4.0"
Django = "==2.2.13"
Pillow = "==5.2.0"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
